.reset-background {
    background: url('../../../../assets/Rainbow-Vortex.png') no-repeat;
    height: 100vh;
    background-size: cover;
}

.logo-card {
    max-width: 350px;
    top: 5%;
    left: 3%;
    background-color: #1e1e1e00;
}

.logo-title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 3px 3px #000000;
}

.reset-card {
    width: 50%;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-50%);
    width: 450px;
}

.reset-text {
    text-align: center;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.return-button {
    width: 100%;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #000000;
}

.response-error {
    padding-top: 10px;
    padding-left: 5px;
    color: red;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.response-success {
    padding-top: 10px;
    padding-left: 5px;
    color: green;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.auth-title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    text-align: center;
}