.list-item {
    width: 475px !important;
    background-color: #00000005;
    margin-bottom: 10px;
}

.dialog-title {
    text-align: center;
}

.dialog-actions {
    justify-content: center;
}

.error-message {
    color: red;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #000000;
}