<mat-grid-list [cols]="breakpoint" rowHeight="1.275:1" (window:resize)="onResize($event)">
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
    <mat-grid-tile><app-project-item></app-project-item></mat-grid-tile>
</mat-grid-list>
