<h1 mat-dialog-title>Add Project</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Project Title</mat-label>
    <input matInput cdkFocusInitial [formControl]="titleFC" required [(ngModel)]="data.title">
    <mat-error *ngIf="titleFC.invalid">{{getTitleErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Project Description</mat-label>
    <textarea matInput cdkTextareaAutosize [formControl]="descriptionFC" required style="overflow: hidden;" [(ngModel)]="data.description"></textarea>
    <mat-error *ngIf="descriptionFC.invalid">{{getDescriptionErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="legacy" class="header-tags-form">
    <mat-label>Tags</mat-label>
    <mat-select [formControl]="tags" multiple [(ngModel)]="data.tags">
        <mat-select-trigger>
            {{tags.value ? tags.value[0]?.name : ''}}
            <span *ngIf="tags.value?.length > 1" class="tags-additional-selection">
                (+{{tags.value.length - 1}} {{tags.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let tags of tagsList" [value]="tags">{{tags.name}}</mat-option>
    </mat-select>
   </mat-form-field>
   <mat-error style="font-size: 75%;" *ngIf="tags.value?.length > 6">{{getTagsErrorMessage()}}</mat-error>
</div>
<div mat-dialog-actions>
    <button mat-raised-button onclick="this.blur()" *ngIf="!titleFC.invalid && !descriptionFC.invalid && tags.value?.length <= 6" [mat-dialog-close]="data" cdkFocusInitial>Add</button>
    <button mat-raised-button onclick="this.blur()" (click)="onCloseClick()">Close</button>
</div>