<p>
    <mat-card class="card">
        <div class="title-flex">
            <mat-card-title class="card-title">
                Example Project
            </mat-card-title>
            <mat-card-title class="card-title-icons">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-title>
        </div>
        <mat-card-content class="card-content">
        <p>
            This is an example project card. Each project component will be used for an individual project. Below are 
            tags associated with each project for filtering purposes. Each card will display the project title and 
            description.
        </p>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-chip-list disabled>
                <mat-chip>JavaScript</mat-chip>
                <mat-chip>Python</mat-chip>
                <mat-chip>C++</mat-chip>
                <mat-chip>C#</mat-chip>
            </mat-chip-list>
        </mat-card-footer>
    </mat-card>
</p>
