.verify-background {
    background-color: #fbfbfb;
    height: 100vh;
    background-size: cover;
}

.logo-card {
    max-width: 350px;
    top: 5%;
    left: 3%;
    background-color: #1e1e1e00;
}

.logo-title {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 3px;
    font-size: 32px;
    text-align: center;
    padding-top: 55px;
}

.verify-card {
    width: 85%;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.verify-text {
    text-align: center;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #000000;
}