<app-header></app-header>
<body class="auth-background" [ngSwitch]="experiencesPage">
    <div class="center" *ngSwitchCase="'loading'">
        <mat-spinner class="loading-icon" diameter="20"></mat-spinner>
    </div>
    <div *ngSwitchCase="'experiences'">
        <mat-toolbar class="header-bottom-toolbar">
            <mat-form-field appearance="legacy">
                <mat-label>Tags</mat-label>
                <mat-select [(value)]="selectedTags" multiple (selectionChange)="onSelectedTagsOrSearchChange()">
                    <mat-select-trigger>
                        {{selectedTags ? selectedTags[0] : ''}}
                        <span *ngIf="selectedTags?.length > 1" class="tags-additional-selection">
                            (+{{selectedTags.length - 1}} {{selectedTags.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let tag of tagsList" [value]="tag.name">{{tag.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-add-tag (addTag)="addTag($event)"></app-add-tag>
            <app-manage-tags></app-manage-tags>
            <span class="header-spacer"></span>
        </mat-toolbar>
        <mat-toolbar>
            <div class="example-container">
                <mat-form-field appearance="legacy" class="header-search-form">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search via Keywords" type="text" [(ngModel)]="searchValue" (ngModelChange)="onSelectedTagsOrSearchChange()">
                    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''; onSelectedTagsOrSearchChange()">
                    <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-toolbar>
        <mat-toolbar>
            <app-add-experience (addExperience)="receiveAdd($event)"></app-add-experience>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-grid-list [cols]="breakpoint" rowHeight="1.0:1" (window:resize)="onResize($event)">
            <ng-container *ngIf="!tagsOrSearchPresent; then showExperiences; else showFilteredExperiences"></ng-container>
            <ng-template #showExperiences>
                <ng-container *ngFor="let experience of experiences">
                    <mat-grid-tile>
                        <app-experience-item [experience]="experience" (removeExperience)="deleteExperience($event)" (editExperience)="editExperience($event)"></app-experience-item>
                    </mat-grid-tile>
                </ng-container>
            </ng-template>
            <ng-template #showFilteredExperiences>
                <ng-container *ngFor="let experience of filteredExperiences">
                    <mat-grid-tile>
                        <app-experience-item [experience]="experience" (removeExperience)="deleteExperience($event)" (editExperience)="editExperience($event)"></app-experience-item>
                    </mat-grid-tile>
                </ng-container>
            </ng-template>
        </mat-grid-list>
    </div>
</body>