.header-spacer {
  flex: 1 1 auto;
}
  
.tags-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.header-tags-form {
  padding-top : 10px;
  width: 250px;
}

.header-search-form {
  width: 250px;
}

.header-top-toolbar {
  background-color: #f1f1f1;
}

.header-bottom-toolbar {
  height: 80px;
}

.mat-menu-item {
  color: black;
}

.mat-menu-item .mat-icon  {
  color: black;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #000000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}